body{
    /*width:60%;
    margin-left:20%;*/

    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../imagens/papel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    color: white;
    position: absolute;    
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(145, 212, 238, 0.6);
    padding: 20px;
    padding-left: 350px;
    padding-right: 350px;
    border-radius: 20px;
    width: 30%;
}

h1{
    text-align:center;
    
}

/*input[type=text],[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    /*border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

input[type=submit]:hover {
    background-color: #45a049;
}
a{
    text-decoration:none;
}
div{
    text-align: center;
}
.nav2{
    margin-left: 5%;
}