body{
    /*width:60%;
    margin-left:20%;*/

    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../imagens/papel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    color: white;
    position: absolute;    
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(145, 212, 238, 0.6);
    padding: 20px;
    padding-left: 350px;
    padding-right: 350px;
    border-radius: 20px;
    width: 30%;
}

.box2{
    color: white;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(145, 212, 238, 0.6);
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 20px;
    width: 30%;
}

h1{
    text-align:center;
    
}

input[type=submit]:hover {
    background-color: #45a049;
}
a{
    text-decoration:none;
}
div{
    text-align: center;
}
.nav2{
    margin-left: 5%;
}

button {
    background-color: #298ae6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #1269eb;
}

  