
body {
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('./imagens/papel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}  

:root {
    --cor-fundo: rgb(79, 83, 81);
    --cor-hover: rgb(118, 180, 145);
    --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
    background-color: var(--cor-fundo);
    list-style-type: nome;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/* SUM MENU */

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a {
    display: block;
}